email.json
{
  "name": "Personalized Email Campaign (FortiMail)",
  "nodes": [
    {
      "parameters": {},
      "id": "2781b033-0c4c-4e8c-8438-b71553c713b5",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -20,
        240
      ]
    },
    {
      "parameters": {
        "documentId": "",
        "sheetName": "Користувачі",
        "options": {
          "asJson": true
        }
      },
      "id": "e7264a40-e55c-4d39-9d97-1755177264cc",
      "name": "Read Contacts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        200,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {
          "reset": false
        }
      },
      "id": "017a0752-62b2-4d2d-94c6-e673413554b2",
      "name": "Split into Batches (20)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        420,
        240
      ]
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "prompt": "Ти — офіційний представник ДП \"Національний інститут розвитку інфраструктури\". Твоє завдання — взяти ім'я та по-батькові людини і перетворити його на кличний відмінок для звернення в листі.\n\nОсь повне ім'я: {{ $json[\"ПІБ\"] }}\n\nДай відповідь, що містить ТІЛЬКИ звернення. Наприклад, якщо ім'я \"Мазур Ярослав Вікторович\", твоя відповідь має бути \"Ярославе Вікторовичу\".\n\nПісля цього візьми готовий шаблон листа і встав це звернення на початку.\n\nШаблон листа:\n\"Вітаю, [Ім'я та по-батькові]!\nЗапрошуємо вас на важливий практичний вебінар, присвячений роботі з ІАС \"База даних цін\" в умовах нових вимог до прозорості відбудови. Разом з експертами YouControl ми розберемо, як ефективно перевіряти постачальників, уникати ризиків завищення цін та захистити бюджетні кошти.\nРеєструйтеся, щоб отримати дієві інструменти для валідації даних: https://www.youcontrol.events/yc-baza-cin-niri-16-10\nТакож маємо важливе нагадування: завтра, 10 жовтня, — крайній день для внесення даних про вартість будівельних ресурсів за вересень 2025 року. Своєчасне оновлення інформації є ключовим для прозорості та точності кошторисів. Будь ласка, переконайтеся, що всі дані внесено коректно: https://prices.restoration.gov.ua\n💡 Ви можете додавати нові ресурси до бази!\nНадсилайте інформацію (назву, вартість, постачальника, джерело) на nauka@nidi.org.ua на ім'я директора ДП \"НІРІ\" Артема Безуглого. У темі листа зазначте: ІАС \"База даних цін\": новий ресурс.\nЯкщо виникають питання, наша підтримка на зв'язку:\n* WhatsApp:(https://chat.whatsapp.com/HohrpRT3ytv5KYQeDopbXv)\n* Telegram: @price_data\nІ наостанок, пропонуємо переглянути зведення ключових подій та анонсів, щоб ви тримали руку на пульсі галузі за посиланням в Telegram: https://t.me/idvlpmnt ( @idvlpmnt ) або на сайті: https://nidi.org.ua/ua/novini\nДякуємо за вашу співпрацю!\nЗ повагою,\nЗаступник директора з євроінтеграції\nСтаніслав Гвоздіков\ns.gvozdikov@nidi.org.ua\n+380631116060\""
      },
      "id": "e158671f-e9b4-4b52-b89a-0d6037b3f46f",
      "name": "Generate Personalized Email",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [
        640,
        240
      ],
      "credentials": {
        "googleGeminiApi": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Generate Personalized Email').json.candidates[0].content.parts[0].text }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "4e73f443-42e1-4569-804d-e970a09e0a8d",
      "name": "Check if AI worked",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        860,
        240
      ]
    },
    {
      "parameters": {
        "fromName": "Станіслав Гвоздіков, ДП \"НІРІ\"",
        "fromEmail": "s.gvozdikov@nidi.org.ua",
        "to": "={{ $json[\"Логін\"] }}",
        "subject": "Запрошення на вебінар та важливе нагадування по ІАС \"База даних цін\"",
        "html": "={{ $('Generate Personalized Email').json.candidates[0].content.parts[0].text.replace(/\\n/g, \"<br>\") }}"
      },
      "id": "f5e9a4f4-5b48-430b-9b4e-d069a19c6328",
      "name": "Send Email (SMTP)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 3,
      "position": [
        1080,
        140
      ],
      "credentials": {
        "smtp": {
          "id": "",
          "name": ""
        }
      }
    },
    {
      "parameters": {
        "documentId": "={{ $('Read Contacts').params.documentId }}",
        "sheetName": "={{ $('Read Contacts').params.sheetName }}",
        "operation": "update",
        "key": "Логін",
        "keyValue": "={{ $json[\"Логін\"] }}",
        "fields": {
          "updateValues": [
            {
              "columnName": "Статус відправки",
              "value": "Помилка генерації тексту AI"
            }
          ]
        }
      },
      "id": "e67e9b0b-71a2-4752-b13c-c90d0b0b8c54",
      "name": "Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1080,
        340
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "={{ $('Read Contacts').credentials.googleSheetsOAuth2Api.id }}",
          "name": "={{ $('Read Contacts').credentials.googleSheetsOAuth2Api.name }}"
        }
      }
    },
    {
      "parameters": {
        "value": 1,
        "unit": "minutes"
      },
      "id": "c92842e4-c155-4675-9252-05459344465d",
      "name": "Wait 1 Minute",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 2,
      "position": [
        1300,
        140
      ]
    },
    {
      "parameters": {
        "documentId": "={{ $('Read Contacts').params.documentId }}",
        "sheetName": "={{ $('Read Contacts').params.sheetName }}",
        "operation": "update",
        "key": "Логін",
        "keyValue": "={{ $json[\"Логін\"] }}",
        "fields": {
          "updateValues": [
            {
              "columnName": "Статус відправки",
              "value": "Надіслано"
            },
            {
              "columnName": "Дата відправки",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "d044237f-59e5-4d7a-85d7-e04743e49876",
      "name": "Update Status to 'Sent'",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1520,
        140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "={{ $('Read Contacts').credentials.googleSheetsOAuth2Api.id }}",
          "name": "={{ $('Read Contacts').credentials.googleSheetsOAuth2Api.name }}"
        }
      }
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Read Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Contacts": {
      "main": [
        [
          {
            "node": "Split into Batches (20)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split into Batches (20)": {
      "main": [
        [
          {
            "node": "Generate Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized Email": {
      "main": [
        [
          {
            "node": "Check if AI worked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if AI worked": {
      "main": [
        [
          {
            "node": "Send Email (SMTP)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Send Email (SMTP)": {
      "main": [
        [
          {
            "node": "Wait 1 Minute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Minute": {
      "main": [
        [
          {
            "node": "Update Status to 'Sent'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
